#banner {
    width: 100%;
}

.main {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo_principal{
    padding-left: 20px;
}

.titulo_centralizado {
    text-align: center;
}
p {
    text-align: center
}
#mission {
    font-size: 20px

}
em strong {
    color: red;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens {
    font-style: italic;
}

.beneficios {
    background-color: white;
    padding: 20px;
}

.image_beneficios {
    width: 50%;
}